<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contraseña Establecida con Éxito</title>
  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #333;
      /* Fondo oscuro */
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .container {
      text-align: center;
      background-color: #fff;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      width: 400px;
    }

    h2 {
      color: #ff6f00;
      /* Color de título en naranja */
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      color: #666;
      margin-bottom: 20px;
    }

    .button {
      background-color: #ff6f00;
      /* Color de botón en naranja */
      color: white;
      border: none;
      padding: 15px 30px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      margin-top: 20px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .button:hover {
      background-color: #e65d00;
      /* Botón más oscuro al pasar el cursor */
    }

    /* Estilo adicional para el botón en estado de foco */
    .button:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(255, 111, 0, 0.5);
    }

    /* Adaptación para pantallas pequeñas */
    @media (max-width: 768px) {
      .container {
        width: 90%;
        padding: 20px;
      }

      .button {
        width: 100%;
        /* Asegura que el botón ocupe todo el ancho en pantallas pequeñas */
      }
    }
  </style>
</head>

<body>
  <div class="container">
    <h2>Contraseña cambiada con éxito</h2>
    <p>Tu contraseña se ha cambiado correctamente.</p>
    <a href="https://tienda.distri7030.com/" class="button">Ir a la Página Principal</a>
  </div>
</body>

</html>