<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Establecer contraseña</title>
      <style>
    /* Estilos generales */
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f4f4f9;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .container {
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 300px;
      text-align: center;
    }

    h1 {
      color: #333;
    }

    /* Estilos para el formulario */
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    input[type="password"] {
      width: 100%;
      padding: 12px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      transition: border-color 0.3s ease;
    }

    input[type="password"]:focus {
      outline: none;
      border-color: #4CAF50;
    }

    input[type="submit"] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 14px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-top: 10px;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s ease;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }
      </style>
    <script>
      function validatePasswords(event) {
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirm-password').value;
        
        if (password !== confirmPassword) {
          event.preventDefault(); // Previene el envío del formulario
          alert('Las contraseñas no coinciden.');
        }
      }
      
      // Agrega un event listener al formulario
      document.addEventListener('DOMContentLoaded', function() {
        const form = document.querySelector('form');
        form.addEventListener('submit', validatePasswords);
      });
    </script>
  </head>
  <body>
    <div class="container">
      <h2>Tu cuenta fue verificada con éxito!</h2>
      <h2>Establecer Contraseña</h2>
      <form action="" method="post">
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Contraseña"
        required
      />
      <input
        type="password"
        name="confirm-password"
        id="confirm-password"
        placeholder="Confirmar Contraseña"
        required
      />
      <input type="submit" value="Enviar" />
    </form>
  </div>
  </body>
</html>
